{% set sales_order = frappe.get_doc("Sales Order", doc.name) %}
{% set customer = frappe.get_doc("Customer", sales_order.customer) %}
{%- if doc.company -%}
    {% set company = frappe.get_doc("Company", doc.company) %}
{%- endif -%}
{%- if doc.customer_address -%}
    {% set ship_address = frappe.get_doc("Address", doc.customer_address) %}
{%- endif -%}
{%- if doc.shipping_address_name -%}
    {% set bill_address = frappe.get_doc("Address", doc.shipping_address_name) %}
{%- endif -%}
{% set max_chars_per_page = 5000 %}
{% set max_chars_per_row = 1750 %}
{% set current_chars = 0 %}
<div class="page-break" style="margin-top: 0px;">
    <table cellpadding=0 cellspacing=0 width=100% border=1>
        <thead>
            <tr>
                <td colspan="8" style="text-align: center; padding: 10px;">
                    {% if letter_head and not no_letterhead -%}
                        <div class="letter-head">{{ letter_head }}</div>
                    {%- endif %}
                </td>
            </tr>
            <tr>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>S.No</b></th>
                <th style="text-align: center; width: 50in;" class="left_head bottom_head top_head"><b>Description of Goods</b></th>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>Qty</b></th>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>Rate</b></th>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>Taxable Value</b></th>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>CGST</b></th>
                <th style="text-align: center;" class="left_head bottom_head top_head"><b>SGST</b></th>
                <th style="text-align: center;" class="left_head bottom_head right_head top_head"><b>IGST</b></th>
            </tr>
        </thead>
        <tbody>
        {%- for row in sales_order.items -%}
            {% set row_description = row.description | default("", true) %}
            {% set total_length = (row_description | length) | int %}
            {% set row_index = loop.index %}
            {% set chunk_starts = range(0, total_length, max_chars_per_row) %}
            {% for chunk_start in chunk_starts %}
                {% set chunk_end = chunk_start + max_chars_per_row %}
                {% set safe_chunk_end = row_description.rfind(" ", chunk_start, chunk_end) %}
                {% if safe_chunk_end == -1 or safe_chunk_end < chunk_start %}
                    {% set safe_chunk_end = chunk_end %}
                {% endif %}
                {% set desc_chunk = row_description[chunk_start:safe_chunk_end] %}
                {% set row_chunk_chars = desc_chunk | length + 100 %}
                <tr>
                    <td>{{ row_index }}</td>
                    <td>
                        {% if chunk_start == 0 %}
                            <strong>{{ row.item_code }} - {{ row.item_name }}</strong><br>
                        {% endif %}
                        {{ desc_chunk }}
                    </td>
                    
                    {% if chunk_start == 0 %}
                        <td>{{ row.qty|int }}</td>
                        <td>{{ row.rate|round(2)|string }}</td>
                        <td>{{ row.amount|round(2)|string }}</td>
                        <td>{{ row.cgst_amount|round(2)|string }}<br>@{{ row.cgst_rate|round(2)|string }}%</td>
                        <td>{{ row.sgst_amount|round(2)|string }}<br>@{{ row.sgst_rate|round(2)|string }}%</td>
                        <td>{{ row.igst_amount|round(2)|string }}<br>@{{ row.igst_rate|round(2)|string }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
                {% set current_chars = current_chars + row_chunk_chars %}
            {% endfor %}
        {%- endfor -%}
        <tr>
            <td style="text-align: right;" colspan="4" class="left_head top_head bottom_head"><strong>Total:</strong></td>
            <td style="text-align: center;" class="left_head top_head bottom_head">{%- if sales_order.total -%}{{(sales_order.total|round(2)|string).rstrip('0').rstrip('.')}}{%- endif -%}</td>
            <td style="text-align: center;" class="left_head top_head bottom_head">{% set cgst_tax = [0] %}{%- for ctax_tot in sales_order.items -%}{% set _ = cgst_tax.append(cgst_tax.pop() + ctax_tot.cgst_amount|float) %}{%- endfor -%}{{ (cgst_tax[0]|round(2)|string).rstrip('0').rstrip('.') }}</td>
            <td style="text-align: center;" class="left_head top_head bottom_head">{% set sgst_tax = [0] %}{%- for stax_tot in sales_order.items -%}{% set _ = sgst_tax.append(sgst_tax.pop() + stax_tot.sgst_amount|float) %}{%- endfor -%}{{ (sgst_tax[0]|round(2)|string).rstrip('0').rstrip('.') }}</td>
            <td style="text-align: center;" class="left_head top_head bottom_head right_head">{%- if sales_order.taxes_and_charges == "Output GST Out-state - JDG" -%}{{sales_order.total_taxes_and_charges}}{%- else -%}0{%- endif -%}</td>
        </tr>
        <tr>
            <td colspan="9" class="left_head right_head"><strong>Amount in words:</strong><b style="font-size: 13px;">{%- if sales_order.in_words -%}{{sales_order.in_words|replace("INR", "RUPEES")|replace(",", "")|upper}}{%- endif -%}</b></td>
        </tr>
        </tbody>
    </table>
    <table width=100% border=1>
        <tr>
            <td width=60%><strong>Terms of Payment:</strong><br>Please Pay on or before<br>{%- if sales_order.due_date -%}<b>{{sales_order.get_formatted("due_date")}}</b>{%- endif -%}</td>
            <td width=40%>
                <table style="width:100%;" border=0>
                    <tr>
                        <th><b>Net Amount</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.total -%}{{(sales_order.total|round(2)|string).rstrip('0').rstrip('.')}}{%- endif -%}</td>
                    </tr>
                    <tr>
                        <th><b>Tax Amount</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.total_taxes_and_charges -%}{{ ((cgst_tax[0] + sgst_tax[0])|round(2)|string).rstrip('0').rstrip('.') }}{%- else -%}0{%- endif -%}</td>
                    </tr>
                    <tr>
                        <th><b>Gross Amount</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.grand_total -%}{{((sales_order.total + cgst_tax[0] + sgst_tax[0])|round(2)|string).rstrip('0').rstrip('.')}}{%- else -%}0{%- endif -%}</td>
                    </tr>
                    <tr>
                        <th><b>Discount</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.discount_amount -%}{{(sales_order.discount_amount|round(2)|string).rstrip('0').rstrip('.')}}{%- else -%}0{%- endif -%}</td>
                    </tr>
                    {%- if sales_order.has_tcs == 1 -%}
                    <tr>
                        <th><b>TCS 1%</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- for taxes_row in sales_order.taxes -%}{%- if taxes_row.account_head == "TCS - JDG" -%}{{(taxes_row.tax_amount|round(2)|string).rstrip('0').rstrip('.')}}{%- endif -%}{%- endfor -%}</td>
                    </tr>
                    {%- endif -%}
                    <tr>
                        <th><b>Rounded Off</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.rounding_adjustment -%}{{(sales_order.rounding_adjustment|round(2)|string).rstrip('0').rstrip('.')}}{%- else -%}0{%- endif -%}</td>
                    </tr>
                    <tr>
                        <th><b>Grand Total</b></th>
                        <td>:</td>
                        <td style="text-align: right;">{%- if sales_order.rounded_total -%}{{(sales_order.rounded_total|round(2)|string).rstrip('0').rstrip('.')}}{%- else -%}0{%- endif -%}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>